/* You can add global styles to this file, and also import other style files */

.navbar-item.navbar-center {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.is-borderless {
  border-style: none;
  cursor: default;
}
