**/dist
**/tmp
**/out-tsc
**/bazel-out
**/node_modules
**/chrome-profiler-events*.json
**/speed-measure-plugin*.json
**/.idea
**/.project
.classpath
**/.c9/
*.launch
**/.settings/
*.sublime-workspace
*.iws
*.iml
*.ipr
**/target/
!**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
**/.vscode
.vscode
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
**/.history/*
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
**/typings
**/typings/
.DS_Store
Thumbs.db
