<div class="navbar-item has-dropdown is-active is-megamenu">
  <div class="navbar-link">
    Menu
  </div>
  <div id="menuDropdown" class="navbar-dropdown">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <h1 class="title is-6 is-megamenu-title">Sub Menu Title</h1>
          <a class="navbar-item" href="/2017/08/03/list-of-tags/">
            <div class="navbar-content">
              <p>
                <small class="has-text-info">03 Aug 2017</small>
              </p>
              <p>New feature: list of tags</p>
            </div>
          </a>
          <a class="navbar-item" href="/2017/08/03/list-of-tags/">
            <div class="navbar-content">
              <p>
                <small class="has-text-info">03 Aug 2017</small>
              </p>
              <p>New feature: list of tags</p>
            </div>
          </a>
          <a class="navbar-item" href="/2017/08/03/list-of-tags/">
            <div class="navbar-content">
              <p>
                <small class="has-text-info">03 Aug 2017</small>
              </p>
              <p>New feature: list of tags</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
