<app-modal [title]="'Change password'" [visible]="visible" (onSave)="changePassword()" (onToggle)="onToggleModal($event)">
  <form class="form" role="form" [formGroup]="changePasswordForm">
    <div class="field">
      <label class="label" for="currentPassword">Current password</label>
      <div class="control">
        <input type="password" class="form-control" name="currentPassword" id="currentPassword" formControlName="currentPassword">
      </div>
    </div>

    <div class="field">
        <label class="label" for="newPassword">New password</label>
        <div class="control">
          <input type="password" class="form-control" name="newPassword" id="newPassword" formControlName="newPassword">
        </div>
    </div>

    <div class="field">
      <label class="label" for="confirmNewPassword">Confirm new password</label>
      <div class="control">
        <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword" formControlName="confirmNewPassword">
      </div>
    </div>
  </form>
</app-modal>
