<div class="box is-shadowless">
  <div class="columns is-multiline">
    <div *ngFor="let item of items" class="column is-full box">
      <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
          <div class="tile is-child box is-shadowless">
            <span class="is-size-7">{{ item.viewCount }}</span>
            <br>
            <span class="is-size-7">views</span>
          </div>
          <div class="tile is-child box is-shadowless">
            <span class="is-size-7">{{ item.answears.length }}</span>
            <br>
            <span class="is-size-7">answers</span>
          </div>
        </div>
        <div class="tile is-parent is-vertical is-11">
          <div class="tile is-child">
            <span class="is-size-2">{{ item.title }}</span>
            <br>
            <span class="is-size-5">{{ item.text.slice(0, 110) }}</span>
            <br>
            <div *ngFor="let tag of item.tags" class="tags">
              <span class="tag is-info">tag.text</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
      <li>
        <a class="pagination-link" aria-label="Goto page 1">1</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 1">{{ currentPage - 1 }}</a>
      </li>
      <li>
        <a class="pagination-link is-current" aria-label="Page 2" aria-current="page">{{ currentPage }}</a>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 3">{{ currentPage + 1 }}</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 4">{{ totalPages }}</a>
      </li>
    </ul>
  </nav>
</div>
